{erl_opts,[debug_info, {parse_transform, lager_transform}]}.
{lib_dirs, ["deps"]}.

{deps,     [ {lager,   ".*", {git, "https://github.com/basho/lager.git",           {branch, "master"} }},
	     {jsx,      ".*", {git, "https://github.com/talentdeficit/jsx.git",     {branch, "master"} }},
             {oauth,   ".*", {git, "https://github.com/flycodepl/erlang-oauth.git", {branch, "master"} }},
             {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git",  {branch, "master"} }}
           ]}.
