{lib_dirs, ["deps"]}.
{erl_opts, []}.

{deps,     [{jsx,      ".*", {git, "https://github.com/talentdeficit/jsx.git",     {branch, "master"} }},
             {oauth,   ".*", {git, "https://github.com/flycodepl/erlang-oauth.git", {branch, "master"} }},
             {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git",  {branch, "master"} }}
           ]}.
